.dashboard-container{
    display: flex;
    /* gap:20px; */
}
.left-dashboard{
    width: 350px;
    padding: 15px;
    height: calc(100vh - 45px);
}

/* Left Dash */
.todays-weather{
    background-color: rgb(113, 191, 255);
    padding: 15px;
    border-radius: 10px;
    height: 65%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.todays-weather-heading span{
    font-size: 20px;
    margin-right: 8px;
}
.todays-desc{
    min-height: calc(35vh - 60px);
    /* background-color: aqua; */
}
.description-data{
    list-style: none;
    background-color: aliceblue;
    /* margin-top: 15px; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    overflow: auto;
    max-height: calc(35vh - 60px);
}

.description-data::-webkit-scrollbar{
    display: none;
}
.day-desc-data{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 15px;
}
.night-dec-data{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 15px;
}
.weather-img{
    width: 200px;
}
.temperature{
    font-size: 4rem;
}

.todays-desc{
    margin-top: 15px;
}


/* .recent-viewed-item{
    border: 1px solid;
    border-radius: 30px;
    padding: 5px;
} */

/* Right Side */
.right-dashboard{
    width: calc(100% - 350px);
    padding: 15px;
    height: calc(100vh - 45px);
}

.right-dashboard h3{
    font-size: 1.5rem;
}

.days-list{
    display: flex;
    gap: 15px;
    width: 100%;
    overflow: auto;
}


.weather-data{
    margin-top: 30px;
    width: 100%;
}

.weather-data-widgets{
    display: flex;
    gap: 20px;
    width: 100%;
}

.widget-blocks{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    width: calc(100% - 350px);
}

.widgets{
    background-color: rgb(225, 225, 225);
    min-width: 40%;
    flex: 1;
    height: 150px;
    border-radius: 15px;
    padding: 15px;
}
.widgets h1{
    font-size: 3rem;
}
.widgets b{
    font-size: 3rem;
}
.sunrise-sunset{
    width: 350px;
    background-color: rgb(187, 232, 255);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.my-sunset-sunrise{
    padding: 10px;
    background-color: rgb(255, 255, 203);
    cursor: pointer;
    border-radius: 10px;
}
.my-sunset-sunrise-data{
    display: flex;
    justify-content: space-between;
}



/* nearby records */
.additional-records{
    list-style: none;
    border-top: 1px solid rgb(187, 187, 187);
}

.additional-data{
    background-color: aliceblue;
    margin-top: 10px;
    padding: 5px 15px;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
